target/
!.mvn/wrapper/maven-wrapper.jar
*.log
my-tomcat/

### STS ###
.apt_generated
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
.nb-gradle/